.card {
  background-image: url(https://wallpapercave.com/wp/wp3528351.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 5px;
  max-width: 400px;
  text-align: center;
}

.pizzaImg {
  position: absolute;
  width: 200px;
  height: auto;
}

.card__img {
  order: 50;
  max-width: 250px;
  box-shadow: 3px 3px 10px black;
  opacity: 0.85;
  border: 0.5em solid #fff;
}

.card__name,
.card__nick,
.card__status,
.card__birth,
.card__occ {
  margin: 0.5em;
  color: var(--text-color);
  text-align: center;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 850px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .container {
    grid-template-columns: 1fr;
    margin: 0;
  }
}
