@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --main-color: rgb(0, 114, 6);
  --secondary-color: rgb(161, 197, 0);
  --text-color: rgb(255, 255, 255);
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
